version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: dd_db
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
    image: charankumar22/mean-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      MONGO_URL: mongodb://mongo:27017/dd_db
      PORT: 8080
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    image: charankumar22/mean-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
